:root {
  --body-font:
    Lexend, "Noto Sans SC", "Noto Sans TC", "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans",
    Arial, sans-serif;
  --mono-font:
    "JetBrains Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans SC",
    "Noto Sans TC", monospace;
  --body-font-size: clamp(0.825rem, calc(0.775rem + 0.195vw), 1rem);
  --body-line-height: 1.5;
  --transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --base-white: 252, 252, 252;
  --base-light: 244, 244, 244;
  --base-medium: 221, 221, 221;
  --base-dark: 66, 66, 66;
  --base-black: 12, 12, 12;
  --base-accent-light: 68, 123, 230;
  --base-accent-medium: 24, 80, 187;
  --base-accent-dark: 23, 24, 120;
  --warning-color: 220, 53, 69;
  --accept-color: 140, 164, 46;
  --warning-text-color: var(--base-white);
  --accept-text-color: var(--base-white);
  --bg-color: var(--base-white);
  --text-color: var(--base-black);
  --light-bg-color: var(--base-light);
  --light-text-color: var(--base-black);
  --medium-bg-color: var(--base-medium);
  --medium-text-color: var(--base-black);
  --dark-bg-color: var(--base-dark);
  --dark-text-color: var(--base-white);
  --focus-bg-color: var(--base-accent-light);
  --focus-text-color: var(--base-white);
  --link-color: var(--base-accent-medium);
  --link-hover-color: var(--base-accent-light);
  --link-visited-color: var(--base-accent-dark);
  --selection-bg-color: var(--focus-bg-color);
  --selection-text-color: var(--focus-text-color);
  --scrollbar-track-color: var(--medium-bg-color), 0.2;
  --scrollbar-thumb-color: var(--dark-bg-color), 0.4;
  --border: 0.0625rem solid rgb(var(--base-black), 0.25);
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--scrollbar-thumb-color)) rgb(var(--scrollbar-track-color));
}
body {
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: rgb(var(--scrollbar-track-color));
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--scrollbar-thumb-color));
}
::selection {
  background: rgb(var(--selection-bg-color));
  color: rgb(var(--selection-text-color));
}
button,
textarea {
  appearance: none;
  font: inherit;
  border-radius: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.375em 0.75em;
  border: 0;
  background: rgb(var(--light-bg-color));
  color: rgb(var(--light-text-color));
  transition:
    background var(--transition),
    color var(--transition);
}
button:is(:hover, :active, :focus) {
  background: rgb(var(--medium-bg-color));
  color: rgb(var(--medium-text-color));
}
textarea {
  font-family: var(--mono-font);
  resize: none;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  border: var(--border);
  padding: 0.25em 0.5em;
  flex: 1;
}

#topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#editor {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.edit-area {
  display: flex;
  flex-direction: column;
  flex: 45vh;
}
#title {
  font-size: 2em;
  font-weight: 700;
}
#input {
  box-shadow: 0 0 0 0 rgb(var(--focus-bg-color));
  transition:
    box-shadow var(--transition),
    border-color var(--transition);
}
#input:focus-visible {
  box-shadow: 0 0 0 0.125em rgb(var(--focus-bg-color));
  border-color: rgb(var(--focus-bg-color));
}
#output-bar {
  display: flex;
}
#output-bar > span {
  flex: 1;
}
